.hidden {
    display: none;
}

:host > div > div {
    background-color: #fefefe;
    margin: 5% auto; 
    padding: 20px;
    border: 2px solid black;
    width: 25em; 
}


:host > div > div > span {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

:host > div > div > span:hover,
:host > div > div > span:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

:host > div > div > table {
  margin: 0;
  padding: 0;
}